body {
    background-color: rgb(0,0,0);
    //background-image: url(assets/img/KEV/BACKGROUNDKEV.jpeg);
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(assets/img/KEV/BACKGROUNDKEV.jpeg);
    background-size: 33.33%;
    //background-position: center;
}