body {
    font-family: 'Poppins', sans-serif;
}

.MyPhoto {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1rem auto;
    width: 300px;
    //background: radial-gradient(circle, rgba(209,178,99,1) 0%, rgba(87,195,88,1) 100%);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.border {
    border-radius: 1rem;
    border: none;
    margin: auto;
}

h1 {
    color:white;
    font-size: 30px;
    margin-left: 1rem;
}

span {
    font-size: 18px;
}